@*
    Copied all of this in from the original index.html page
        - The folder name that this is in should match the corresponding controller

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Thomas Fife's Website"; // You can drop anything in here that you want to pull out later
    ViewBag.Header = "Thomas Fife";
}

<body style="background-color:lightgrey;">

    <div class="row">
        <div class="column">
            <img class="smaller_img" src="~/img/basketball.jpg" /> <!--Image-->
        </div>

        <div class="column">
            <h2>What I hope to get out of IS 413</h2>
            <p>
                This semester, I really want to take the opportunity to not only learn new coding languages, but I want to form my own method of internalizing what I learn. Up to this point in my college career, I haven't perfected my craft in how I study and apply course material. I want to not only learn a bunch of new material, but I want to do so in a way that will most benefit me in the future.
            </p>
            <br />
            <br />
            <br />
            <h2>Top 3 jobs I'm most interested in</h2>
            <ol>
                <li>Data Analyst</li>
                <li>Quality Assurance Engineer</li>
                <li>Software Developer</li>
            </ol>

            <br />
            <br />
            <br />
            <br />
            <br />

        </div>
    </div>
</body>

